button{
    height:40px;
    width:80px;
    background-color: rgb(90,200,90);
    color: white;
    font-size: 16px;
    font-family: calibri,'cursive';
    text-transform:uppercase;
    font-weight:bolder;
    display:inline-block;
    margin-top:20px;
}

span{
    font-weight:bolder;
    text-transform:uppercase;
    font-family:'Times New Roman', Times, serif;

}

.grid-container{
	display:grid;
}
.name {
  grid-column-start: 1;
  grid-column-end: 1;
}
.phone {
  grid-column-start: 2;
  grid-column-end: 2;
}